* {
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}
body {
  background:rgb(255, 255, 255);
  font-family:"Noto";
}
.main {
  padding: 20px 10px;
}
#toggle {
  width: 50px;
  display: flex;
  padding: 5px;
  margin: 0px 0px 20px 40px;
  background-color: #1a202c;
  display: flex;
  border-radius: 1000px;
  cursor: pointer;
  box-shadow: 0px 5px 20px -10px #000000;
  transition: background-color 0.2s ease-in;
  .toggle-inner {
    width: 20px;
    height: 15px;
    background-color: white;
    border-radius: 1000px;
    transition: margin-left 0.2s ease-in, background-color 0.2s ease-in;

    &.toggle-active {
      margin-left: 20px;
    }
  }
}
.dark-mode {
  color: white;
  background-color: #1a202c;
   
  #toggle {
    background-color: white;

    .toggle-inner {
      background-color: #203254;
    }
  }
  .header > div input{
    border-radius: 15px;
  }
  .header > div button {
    border-radius: 9px;
  }
  .header > div button:hover{
    background-color:rgb(182, 177, 177);
  }
  .result .list .item{
    border: 5px solid rgb(214, 205, 205);
  }
  a:hover{
    color:rgba(241, 141, 101, 0.5);
    text-decoration: none;
  }
  a:focus{
    color:rgba(241, 141, 101, 0.5);
    text-decoration: none;
  }
}
.header {
  width:100%;
  padding:20px;
  display:flex;
  justify-content:center;
  margin: auto;
}
.header > div input {
  padding:10px;
  margin-right: 10px;
  width:700px;
  border:none;
  outline:none;
  border-bottom:2px solid rgb(15, 14, 14);
  font-size: 16px;
  color:rgba(0, 0, 0, 0.75);
}
.header > div input:hover {
  cursor: pointer;
}
.header > div button {
  height:100%;
  width: 100px;
  border-radius:0px;
  border:none;
  outline:none;
  padding:10px 10px; 
  background:#ffffff;
  color:#000000;
  font-weight:600;
  border: 3px solid black;
  border-radius: 3px;
  
}
.header > div button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
.message {
  width:100%;
  padding:20px;
  display:flex;
  justify-content: center;
  margin: auto;
  font-size: 18px;
}
.result {
  padding:5px;
}
.result .list {
  display:flex;
  flex-wrap:wrap;
}
.result .list .item {
  margin:10px;
  height:288px;
  border:5px solid rgb(178, 174, 174);
  border-radius: 1.5px;
}
img {
  width: 278px;
  aspect-ratio: auto 278 / 278;
  height: 278px;
}
.result .list .item img {
  width:100%;
}
.list{
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  grid-auto-rows: 100px;
  justify-content: center;
  gap: 2rem 1rem;
  margin: 10px 5px;
}
.loading {
  display:flex;
  justify-content:center;
}
.loading .loader {
  width:50px;
  height:50px;
  border-radius:50%;
  border:5px solid rgb(12, 12, 12);
  border-top:5px solid #111;
  transform:rotate(0deg);
  animation:loading 500ms ease-in-out infinite;
}
@keyframes loading {
  to {
    transform:rotate(360deg);
  }
}
@media (max-width: 320px) {
  .result .list .item {
    margin:10px;
    height:120px;
    border:5px solid rgb(178, 174, 174);
  }
  img {
    width: 110px;
    height: 110px;
  }
  .dark-mode {
    color: white;
    background-color: #1a202c;

  
      .toggle-inner {
        background-color: #161a20;
      }
}
.header{
  padding: 10px;
}
.header > div input {
  width:110px;
}
.header > div button {
 width:70px;  
}
.list{
  display: grid;
  grid-template-columns: repeat(auto-fit, 50px);
  grid-auto-rows: 50px;
  justify-content: center;
  gap: 5px 5px;
}

}

@media (min-width: 321px) and (max-width: 700px) {
  .result .list .item {
    margin:10px;
    height:140px;
    border:5px solid rgb(178, 174, 174);
  }
  img {
    width: 130px;
    height: 130px;
  }
  .dark-mode {
    color: white;
    background-color: #1a202c;

  
      .toggle-inner {
        background-color: #161a20;
      }
}
.header > div input {
  width:170px;
}
.header > div button {
 width:90px;
  
}
.list{
  display: grid;
  grid-template-columns: repeat(auto-fit, 50px);
  grid-auto-rows: 50px;
  justify-content: center;
  gap: 5px 5px;
}
}
@media (min-width:700px) and (max-width:1025px) {
  .result .list .item {
    margin:10px;
    height:230px;
    border:5px solid rgb(178, 174, 174);
  }
  img {
    width: 220px;
    height: 220px;
  }
  .dark-mode {
    color: white;
      .toggle-inner {
        background-color: #161a20;
      }
}
.header > div input {
  width:400px;
}
.header > div button {
 width:200px;
  
}
}
.nav-pagination{
  display: flex;
  justify-content: end;
  align-items: flex-end;
  margin: 15px;
  padding-right: 25px;
}
.pagination{
  display: flex;
}
li {
  list-style:none;
  margin-right: 7px;
}
a {
  color: rgb(241, 141, 101);
}
a:hover{
  color:rgba(0, 0, 0, 0.795);
}
a:focus{
  color:rgba(0, 0, 0, 0.50);
  text-decoration: none;
}
