* {
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}
body {
  background:rgb(255, 255, 255);
  font-family:"Noto";
}
.header {
  width:100%;
  padding:20px;
  display:flex;
  justify-content:center;
  margin: auto;
}
.header > div input {
  padding:10px;
  margin-right: 10px;
  width:500px;
  border:none;
  outline:none;
  border-bottom:2px solid rgb(15, 14, 14);
  font-size: 16px;
  color:rgba(0, 0, 0, 0.75);
}
.header > div input:hover {
  cursor: pointer;
}
.header > div button {
  height:100%;
  border-radius:0px;
  border:none;
  outline:none;
  padding:10px 10px; 
  background:#ffffff;
  color:#000000;
  font-weight:600;
  border: 3px solid black;
  border-radius: 3px;
  
}
.header > div button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
.result {
  padding:5px;
}
.result .list {
  display:flex;
  flex-wrap:wrap;
}
.result .list .item {
  margin:10px;
  height:258px;
  border:5px solid #aaa;
}
img {
  width: 248px;
  aspect-ratio: auto 248 / 248;
  height: 248px;
}
.result .list .item img {
  width:100%;
}
.list{
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  grid-auto-rows: 100px;
  justify-content: center;
  gap: 2rem 1rem;
}
.loading {
  display:flex;
  justify-content:center;
}
.loading .loader {
  width:50px;
  height:50px;
  border-radius:50%;
  border:5px solid #fff;
  border-top:5px solid #111;
  transform:rotate(0deg);
  animation:loading 500ms ease-in-out infinite;
}
@keyframes loading {
  to {
    transform:rotate(360deg);
  }
}
.nav-pagination{
  display: flex;
  justify-content: end;
  align-items: flex-end;
  margin: 15px;
  padding-right: 25px;
}
.pagination{
  display: flex;
}
.page-item {
  list-style:none;
  margin-right: 7px;
}
a {
  color: black;
}
a:hover{
  color:rgba(0, 0, 0, 0.60);
}
a:focus{
  color:rgba(0, 0, 0, 0.60);
  text-decoration: none;
}
